S2Backend:
  replicaCount: 1
  image:
    name: s2search-backend-api
    repository: ghcr.io/square2digital/s2search-backend-api
    tag: latest
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 80
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 256Mi
  env:
    ASPNETCORE_ENVIRONMENT: "Production"
    ASPNETCORE_URLS: "http://+:80"
  configmap:
    enabled: true
    name: searchapi-appsettings
  nodeSelector: {}
  tolerations: []
  affinity: {}

S2SearchUi:
  replicaCount: 1
  image:
    name: s2search-ui
    repository: ghcr.io/square2digital/s2search-ui
    tag: latest
    pullPolicy: IfNotPresent
  service:
    type: LoadBalancer
    port: 80
  resources:
    limits:
      cpu: 300m
      memory: 256Mi
    requests:
      cpu: 100m
      memory: 128Mi
  env:
    - name: ENVIRONMENT
      value: "local"
    - name: ASPNETCORE_ENVIRONMENT
      value: "Production"
    - name: ASPNETCORE_URLS
      value: "http://+:80"
  configmap:
    enabled: true
    name: configmap-localk8s
  nodeSelector: {}
  tolerations: []
  affinity: {}

feedfunctions:
  replicaCount: 1
  image:
    name: s2search-functions-feedservices
    repository: ghcr.io/square2digital/s2search-functions-feedservices
    tag: latest
    pullPolicy: IfNotPresent
  service:
    type: LoadBalancer
    port: 80
  resources:
    limits:
      cpu: 300m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 256Mi
  secret:
    name: feedfunctions-secret
  azureStorage:
    connectionString: "DefaultEndpointsProtocol=https;AccountName=s2storagedev;AccountKey=3qMRIgisGsfc5AV/x5wDKYVbSEfw+lPropDKBy67+fG32BS+WHL7a2zyH/A/p2bJKEDCH5w+EGJP+AStqFdPsA==;EndpointSuffix=core.windows.net"
  nodeSelector: {}
  tolerations: []
  affinity: {}

searchinsights:
  replicaCount: 1
  image:
    name: s2search-functions-searchinsights
    repository: ghcr.io/square2digital/s2search-functions-searchinsights
    tag: latest
    pullPolicy: IfNotPresent
  service:
    type: LoadBalancer
    port: 80
  resources:
    limits:
      cpu: 300m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 256Mi
  secret:
    name: feedfunctions-secret
  azureStorage:
    connectionString: "DefaultEndpointsProtocol=https;AccountName=s2storagedev;AccountKey=3qMRIgisGsfc5AV/x5wDKYVbSEfw+lPropDKBy67+fG32BS+WHL7a2zyH/A/p2bJKEDCH5w+EGJP+AStqFdPsA==;EndpointSuffix=core.windows.net"
  nodeSelector: {}
  tolerations: []
  affinity: {}

postgresql:
  enabled: true
  auth:
    database: "s2searchdb"
    username: "s2search"
  primary:
    service:
      type: NodePort
      nodePorts:
        postgresql: 30432
    persistence:
      enabled: true
      size: 1Gi
  image:
    registry: docker.io
    repository: bitnami/postgresql
    tag: "latest"

redis:
  enabled: true
  auth:
    enabled: false # Set to true and add password for production
  image:
    registry: docker.io
    repository: bitnami/redis
    tag: "latest"
  master:
    service:
      type: NodePort
      nodePorts:
        redis: 30379
    persistence:
      enabled: true
      size: 1Gi
  replica:
    replicaCount: 1
    persistence:
      enabled: true
      size: 1Gi

ConnectionStrings:
  databaseConnectionString: "DB_CONNECTION_STRING"
  azureStorageConnectionString: "AZURE_STORAGE_CONNECTION_STRING"
  redisConnectionString: "REDIS_CONNECTION_STRING"

Search:
  SearchCredentialsQueryKey: "SEARCH_CREDENTIALS_QUERY_KEY"
  SearchCredentialsInstanceEndpoint: "SEARCH_CREDENTIALS_INSTANCE_ENDPOINT"
