S2Backend:
  replicaCount: 1
  image:
    name: s2search-backend-api
    repository: ghcr.io/square2digital/s2search-backend-api
    tag: latest
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 80
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 256Mi
  env:
    ASPNETCORE_ENVIRONMENT: "Production"
    ASPNETCORE_URLS: "http://+:80"
  configmap:
    enabled: true
    name: searchapi-appsettings
  nodeSelector: {}
  tolerations: []
  affinity: {}

S2SearchUi:
  replicaCount: 1
  image:
    name: s2search-ui
    repository: ghcr.io/square2digital/s2search-ui
    tag: latest
    pullPolicy: IfNotPresent
  service:
    type: LoadBalancer
    port: 80
  resources:
    limits:
      cpu: 300m
      memory: 256Mi
    requests:
      cpu: 100m
      memory: 128Mi
  env:
    - name: ENVIRONMENT
      value: "local"
    - name: ASPNETCORE_ENVIRONMENT
      value: "Production"
    - name: ASPNETCORE_URLS
      value: "http://+:80"
  configmap:
    enabled: true
    name: configmap-localk8s
  nodeSelector: {}
  tolerations: []
  affinity: {}

postgresql:
  enabled: true
  auth:
    database: "s2searchdb"
    username: "s2search"
    password: ""
  primary:
    service:
      type: NodePort
      nodePort: 30432
    persistence:
      enabled: true
      size: 1Gi
  image:
    registry: docker.io
    repository: bitnami/postgresql
    tag: "latest"

ConnectionStrings:
  databaseConnectionString: "DB_CONNECTION_STRING"
  azureStorageConnectionString: "AZURE_STORAGE_CONNECTION_STRING"
  redisConnectionString: "REDIS_CONNECTION_STRING"

Search:
  SearchCredentialsQueryKey: "SEARCH_CREDENTIALS_QUERY_KEY"
  SearchCredentialsInstanceEndpoint: "SEARCH_CREDENTIALS_INSTANCE_ENDPOINT"
